body {
	background-color: #39D9FF;

}

h1 h2 h3 h4 h5 h6 {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.container {
	padding: 15px;
	background-color: #86E8FF;

}

img{
	width: 100%;
    height: auto;
}

#title {
	text-align: center;
}


.navigation{
	margin: auto;

}